{% extends 'base.html.twig' %}

{% block title %}Exo table auteur
{% endblock %}

{% block body %}
	<style>
		table,
		td {
			border: 1px solid #333;
		}

		thead,
		tfoot {
			background-color: #333;
			color: #fff;
		}
	</style>

	<table class="table">
		<thead>
			<tr>
				<th colspan="5">la table des auteurs</th>
			</tr>
			<tr>
				<th>id</th>
				<th>nom</th>
				<th>bio</th>
				<th>Nb livres</th>
				<th>action</th>
			</tr>
		</thead>
        <tbody>
			{% for auteur in auteurs %}
				<tr>
					<td>{{ auteur.id }}</td>
					<td>{{ auteur.nom ~ " " ~ auteur.prenom}}</td>
					<td>{{ auteur.bio }}</td>
					<td>{{ auteur.livres|length }}</td>
                    <td>
                        <a href="{{ path('app_auteur_fiche', {id: auteur.id}) }}">voir</a>
                        <a href="{{ path('app_auteur_modifier', {id: auteur.id}) }}">modifier</a>
                        <a href="{{ path('app_auteur_supprimer', {id: auteur.id}) }}">supprimer</a>
                    </td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
